<div class="business card card-vertical business-profile"  {{ attributes }}>
  <div class="card-column-left card-column-80">
    <div class="card-item card-title">
      <span class="business_rank">{{ content.field_business_rank }}</span>
      <h3 class="business_overall">{{ average_rating }}</h3>
       <span class="business_overall-score">overall score</span>
      <span class="business_rating">******</span>
    </div>
    <div class="card-item card-text">
    </div>
    <div class="card-item card-actions">
      <a class="btn" href="{{ url }}">View</a>
    </div>
  </div>
  <div class="card-column-right card-column-stretch">
    <img src="{{ content.field_business_logo.0["#markup"] }}" class="img-responsive"/>
  </div>
</div>