{%
set ratingNum = average_rating|number_format
%}

{%
set leftover = 5 - ratingNum
%}

{%
set business_url = content.field_business_url.0['#url']
%}

<div class="offer" id="3gl5bx">
        <div class="score">
            <div class="score__label"></div>
            <span class="score__num">{{ average_rating }}</span>
            <span class="score__num__label">overall<br>score</span>
            <span class="score__stars" data-rating="4.5">
              <span class="business_rating">
              {% for i in 1.. ratingNum %}
              <i class="material-icons">
                star
              </i>
              {% endfor %}
              {% for i in 1.. leftover %}
              <i class="material-icons">
                star_border
              </i>
              {% endfor %}
            </span>
            </span>
            <span class="score__num__reviews">
                <a href="http://www.10bestsites.org">427 user reviews</a>
            </span>
        </div>
        <div class="logo">
           {{content.field_business_logo}}
        </div>
        <div class="info">
            <h1 class="info__title">{{ label }}</h1>
            <div class="info__callouts">
              <a class="d-flex buttn buttn-success" href="{{ url }}">View Profile</a>
              <a class="d-flex buttn buttn-success" href="{{ business_url }}" target="_blank">Visit Site</a>
            </div>
            <div class="info__details">
                {{ content.body }}
            </div>
        </div>
    </div>

{#
<div class="business card card-vertical business-profile long-card" {{ attributes }}>
  <div class="long-card-first-half d-flex">
    <div class="card-column-left d-flex">
      <div class="card-item card-title d-flex">
        <span class="business_rank">{{ content.field_business_rank }}</span>
        <h3 class="business_overall">{{ average_rating }}</h3>
        <div class="d-flex business_score">
          <span class="business_overall-score">overall<br />score</span>
          <span class="business_rating">
            {% for i in 1.. ratingNum %}
            <i class="material-icons">
              star
            </i>
            {% endfor %}
            {% for i in 1.. leftover %}
            <i class="material-icons">
              star_border
            </i>
            {% endfor %}
          </span>
        </div>
      </div>
      <div class="card-item card-actions">
        <a href="{{ url ~ '#after-main'}}">User Reviews</a>
      </div>
    </div>
    <div class="card-column-right">
      {{content.field_business_logo}}
    </div>
  </div>
  <div class="long-card-second-half">
    <h2>{{ label }}</h2>
    <div class="d-flex">
      <a class="d-flex buttn buttn-success" href="{{ url }}">View Profile</a>
      <a class="d-flex buttn buttn-success" href="{{ business_url }}" target="_blank">Visit Site</a>
    </div>
    {{ content.body }}
  </div>
</div> #}
